<!DOCTYPE html>
<html>
<%= render partial: 'layouts/head' %>

<body>

  <div class="project-dashboard-layout">

    <div class="
      [ grid-rows grid-temp:auto-1fr fill-screen ]
      [ p-200 g-200 ]
      ">


      <div class="[ dl-header ]">
        <%= render partial: "header", locals: { title: @project.title } %>
      </div>
       
      <div class="
        [ grid-columns grid-temp:1p-1fr ]
        [ g-200 ]
        ">
    
        <div class="branch-tree dl-side panel panel-fill">
         <menu class="p-600">
           
           <ul>
             <% @branches.each do |branch| %>
               <li><%= link_to branch.name, dashboard_branch_path(@project.id, branch.id ) %></li>
             <% end %>
           </ul>
         </menu>
        </div>
    
        <div class="board-page dl-center panel panel-fill">
        <main>
          <%= yield %>
        </main>
        </div>
    
    
      </div>
    
    </div>

    <%= render partial: 'layouts/gui_overlay' %>


  </div>
</body>
</html>
